<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<style>
		p {
			font-weight: normal;
			color: white;
		}

		.container-fluid {
			width: 100%;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<form>

			<h1> Your Current Listings </h1>

			<div class="container">
				<p>
					No current listings available
				</p>

				<a th:href="@{/listings/add}" class="btn btn-primary" role="button">Add New Listings</a>
			</div>

		</form>
	</div>
</body>