<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head>

	<style>
		a {
			color: #37E6E6;
		}

		b {
			-webkit-text-stroke-width: .5px;
			-webkit-text-stroke-color: black;
			color: white;
			font-size: 30px;
			font-weight: normal;
		}

		.btn-primary {
			background-color: #37E6E6;
		}
	</style>

</head>

<!-- Display each listing in a table of content -->

<body>
	<section layout:fragment="content">
		<h1>
			Listing Details <br>
		</h1>

		<div class="container">
			<b>
				Home ID: <a th:text="${listing.id}" /> <br>
				Home Location: <a th:text="${listing.location}" /> <br>
				Home Address: <a th:text="${listing.address}" /> <br>
				Price: <a th:text="${listing.price}" /> <br>
				There are <a th:text="${listing.bedrooms}" /> Bedrooms <br>
				There is <a th:text="${listing.squareFeet}" /> Square Feet<br>
				There are <a th:text="${listing.bathrooms}" /> Bathrooms <br>
				There are <a th:text="${listing.floors}" /> Floors <br>
				Description: <a th:text="${listing.description}" /> <br>
			</b>
		</div>

		<div class="container">
			<a th:href="@{/listings/}" class="btn btn-primary" role="button">Continue</a>
		</div>
	</section>
</body>

</html>